<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simple To-do List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/web-and-ui-4/20/162-128.png"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/478e097f2b.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:300|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>To-Do List</h1>
    <div class="container">
        <form role="form" method="post">
            <div class="row">
                <input type="text" class="col-xs-10 col-sm-10" name="task" autofocus>
                <button type="submit" class="btn btn-primary submit" >Add</button>
            </div>
            <!--div.row -->
            <div class="row">
                <!-- Start to-do list -->
                <ul class="todo-list col-xs-12">
                <% for(let i=0; i<tasks.length; i++){ %>
                    <li><%= tasks[i].task %>
                        <a href="/delete/<%= tasks[i]._id %>">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </li>
                <% }; %>
                </ul>
            </div>
        </form>
        <!-- div.row> -->
    </div>
    <!-- div.container -->
    <script src='lib/jquery/dist/jquery.min.js'></script>
    <script  src="js/index.js"></script>
</body>

</html>
